.content-wrapper {
  position: relative;
  margin: $general-margin;
}

body {
  font-size: $primary-font-size-mobile;
  color: $text-dark;

  @media screen and (min-width: $grid-md) {
    font-size: $primary-font-size;
  }
}